In [1]:
import pandas

In [2]:
db=pandas.read_csv('marks.csv')

In [3]:
db

   name   hours  marks
0   jack      8     80
1  krish      7     70
2    tom      3     30
3  jerry      5     50

In [4]:
y=db['marks']

In [5]:
y

0    80
1    70
2    30
3    50
Name: marks, dtype: int64

In [6]:
x=db["hours"]

In [7]:
type(x)

pandas.core.series.Series

In [8]:
x = x.values

In [9]:
type(x)

numpy.ndarray

In [10]:
x=x.reshape(4,1)

In [11]:
x.shape

(4, 1)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
mind = LinearRegression()

In [14]:
mind.fit(x , y)

LinearRegression()

In [15]:
mind.predict([[ 6 ]])

array([60.])

In [16]:
mind.coef_

array([10.])

In [17]:
import joblib

In [18]:
joblib.dump(mind , 'marks.pk1' )

['marks.pk1']